

.background{
    width: 98.9vw;
    height: 100vh;
    background-color: var(--cor-bege);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 59.08px;
}


.sobremimImageBox{
    width: 434.92px;
    height: 465px;
    border-radius: 5px 0px 0px 0px;
}

.sobremimTextBox {
    color: var(--cor-branca);
    width: 746px;
    height: 477px;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.sobremimTextBox h1 {
    align-self: center;
    opacity: .85;
}

.sobremimTextBox p {
    align-self: center;
    opacity: .85;
}