.background {
    background-color: var(--cor-bege);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.carousel {
    width: 100%;
    max-width: 1240px;
    padding-bottom: 60px; /* espaço para paginação */
}

.card {
    cursor: grab;
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--cor-branca);
    margin-bottom: 60px;
    text-decoration: underline;
    opacity: 0.9;
}

/* estilizando os bullets da paginação do Swiper */
.swiper-pagination-bullet {
    background: var(--cor-branca);
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: var(--cor-marrom);
    opacity: 1;
}
