.background{
  width: 98.9vw;
    height: 100vh;
    background-color: var(--cor-bege);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    padding-bottom: 100px;
}


.fileira_1 {
    width: 1239px;
    height: 210px;
    display: flex;
    column-gap: 48px;
}

.fileira_2 {
    width: 1239px;
    height: 210px;
    display: flex;
    column-gap: 48px;
  }

  .titulo{
    
    margin-left: 60px;
    color: var(--cor-branca);
    text-decoration: underline;
    opacity: 0.8;
  }